<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de produtos</title>
</head>
<body>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preco</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
